<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmarker</title>
</head>
<body ng-app="app" ng-controller="Controlla as app">

<br> <br> <br> <br>

<form>
    <input type="text" ng-model="tempInput" />
    <button ng-click="app.addBookmark()">Add Bookmark</button>
</form>

<div ng-repeat="bookmark in app.bms">
    <a target="_blank" href = "{{ bookmark.content }}">{{bookmark.title}}</a>
    <div class="ui">
        <input type="text" ng-model="bookmark.title"/>
        <button ng-click="app.updateBookmark(bookmark)">Update</button>
        <button ng-click="app.deleteBookmark(bookmark)">Delete</button>
    </div>
</div>

<script src="angular_bower/angular.js"></script>
<script src="js/app.js"></script>
</body>
</html>
